body {
    margin: 0px;
    max-width: 100%;
    background-color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

// about me 

section.bloc.aboutMe {

    .aboutMe__content__body {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr 400px;
        grid-column-gap: 100px;
        align-items: center;
        padding: 20px;

        @include smallScreen() {
            grid-template-columns: 1fr;
            grid-template-rows: 150px, 1fr;
            grid-auto-flow: row;
            padding: 0px;
            margin-bottom: 4%;
        }

        .body__img {
            justify-self: center;
            grid-row: 1;
            padding: 1.4rem;
            border-bottom: solid 2px $nav_foot;
            border-left: 4px solid $nav_foot;

            img {
                width: 250px;

                @include x_smallScreen() {
                    width: 150px;
                }
            }
        }

    }

    .aboutMe__content__btn {
        background-color: $wine;
        margin-left: 15%;
        margin-top: 2%;

        @include smallScreen {
            margin: 0 auto;
        }

        .cv__btn {
            color: white;
            display: inline-flex;
            align-items: center;

            .bi {
                margin-left: 10px;
                
                path{
                    color: white;
                }
            }
        }
    }

}


// skills

section.bloc .skills__content {

    &__body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-flow: row;
        column-gap: 5%;
        row-gap: 5%;
        padding: 3%;
        align-content: center;
        justify-content: center;

        @include smallScreen {
            grid-template-columns: 1fr 1fr;
            padding: 3%;
            row-gap: 1%;
        }

        @include x_smallScreen {
            padding: 1%;
            grid-template-columns: 45% 45%;

        }


        .card-skills {
            display: flex;
            justify-content: center;
            border: rgba(66, 103, 124, 0.2) ridge 4px;

            .card-skills__content {
                text-align: center;

                &__img {
                    height: 5rem;
                    margin: 0.5em;

                    @include smallScreen {
                        height: 3rem;
                    }

                    img {
                        height: 5rem;

                        @include smallScreen {
                            height: 3rem;
                        }
                    }
                }

                .grade {
                    display: block;
                    background-color: $grey;
                    border-radius: 15px;
                    width: 15rem;
                    margin: 0.8rem;

                    @include x_smallScreen {
                        width: 7rem;
                    }

                    .progress {
                        background-color: $light_green;
                        text-align: right;
                        border-radius: 15px;
                        padding: 0.2rem;

                        p {
                            margin: 0rem;
                            color: $dark_grey;
                            font-size: 0.6rem;
                        }

                    }

                    .p85 {
                        width: 85%;
                    }

                    .p80 {
                        width: 80%;
                    }

                    .p75 {
                        width: 75%;
                    }

                    .p70 {
                        width: 70%;
                    }

                    .p60 {
                        width: 60%;
                    }
                }


            }
        }
    }

    .skills__degree {
        margin: 7% 0%;

        @include x_smallScreen {
            margin: 15% 0%;
            padding: 3%;
        }

        &__content {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-flow: row;
            column-gap: 1%;
            row-gap: 6%;


            @include smallScreen {
                grid-template-columns: 1fr 1fr;
            }

            @include x_smallScreen {
                grid-template-columns: 1fr;
                row-gap: 0%;
            }

            .card-degree__content {
                text-align: center;

                &__img {
                    height: 300px;
                    margin: 0px;

                    @include smallScreen {
                        height: 200px;
                    }

                    a svg path {
                        color: $wine;
                    }

                    img.degree {
                        max-width: 350px;

                        @include smallScreen {
                            max-width: 200px;
                        }
                    }

                }

                h3 {
                    font-size: 17px;
                    color: $grey;
                    margin: 2% auto;
                }


            }
        }

    }
}



.modal {
    width: auto;
    max-width: 100% !important;

    img.degree--modal {
        width: 700px;

        @include smallScreen {
            max-width: 250px;
        }
    }

}

svg.bi.bi-zoom-in {
    color: $wine;
    height: 1.2em;

    &:hover {
        transform: scale(1.1);
    }
}




// achievements

section.bloc .achiev__content {

    &__body {

        display: grid;
        row-gap: 3rem;
        .card {

            border: $grey 2px solid;
            padding: 2%;
            display: grid;
            grid-auto-flow: column;

            @include x_smallScreen {
                grid-auto-flow: row;
                grid-template-columns: 1fr;
            }

            &__title {
                grid-row: 1;
                grid-column: 2;
                border-bottom: solid 1px $light_blue;
                height: 4rem;

                @include x_smallScreen {
                    grid-row: 1;
                    grid-column: 1;
                }

                h3 {
                    font-size: 22px;
                    font-weight: normal;
                    text-align: center;
                    text-decoration: underline rgb(145, 103, 41);
                    color: #0b2e5c;

                    @include x_smallScreen {
                        font-size: 18px;
                    }
                }

            }

            &__img {
                grid-column: 1;
                grid-row: 1/4;
                text-align: center;
                align-self: center;

                img {
                    width: 70%;
                    place-self: center;
                }

                @include x_smallScreen {
                    grid-row: 2/2;
                }
            }

            &__desc {
                margin-left: 2%;
                grid-row: 2;
                grid-column: 2;

                @include x_smallScreen {
                    grid-row: 3;
                    grid-column: 1;
                }
            }

            &__link {
                grid-row: 3;
                grid-column: 2;
                font-size: 18px;
                color: $wine;
                display: grid;
                grid-template-rows: 1fr 1fr;
                margin-left: 2%;

                @include x_smallScreen {
                    font-size: 16px;
                    margin: 2%;

                }

                .github {
                    display: inline-flex;
                    column-gap: 10px;
                    align-items: center;

                    a {
                        margin-left: 20px;
                        align-self: center;

                        @include x_smallScreen {
                            margin-left: 0px;
                        }

                        svg {
                            height: 2rem;
                            width: 2rem;

                            path {
                                color: $wine;
                            }
                        }

                        &:hover {
                            transform: scale(1.2);
                        }
                    }


                    @include xx_smallScreen {
                        display: block;
                    }
                }

                .web {
                    display: flex;

                    a {
                        font-size: 1rem;
                        font-style: oblique;
                        color: $wine;
                        padding-left: 4px;

                        &:hover {
                            color: $light_blue;
                        }
                    }
                }

                @include x_smallScreen {
                    grid-row: 4;
                    grid-column: 1;
                }
            }
        }
    }
}


// contact

section.bloc .contact__content {

    &__body {
        display: grid;
        grid-auto-flow: column;
        margin-bottom: 3%;
        padding: 0.5rem;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;

        .link {
            font-size: 1rem;
            background-color: $dark_blue;
            padding: 1rem;


            a.contact__link {
                display: block;
                color: white;

            }

            &:hover {


                a.contact__link {
                    color: $dark_white;
                }
            }
        }

        @include smallScreen {
            grid-auto-flow: row;
            row-gap: 25px;
            grid-template-columns: 1fr;
        }

    }

    &__form {
        background-color: $dark_blue;
        padding: 1rem;
        margin: 1% 10%;

        @include x_smallScreen {
            padding: 1.3rem;
            margin: 0;
            margin-top: 10%;
        }


        .form__title {
            font-size: 1rem;
            align-items: center;
            grid-template-columns: 2rem 1fr;
            display: grid;
            grid-column-gap: 2%;
            color: white;
            margin-bottom: 2%;

            @include x_smallScreen {
                justify-items: center;
            }

            .bi {
                margin-right: 2%;
            }

            h3 {
                margin-top: 1%;
                margin-bottom: 2%;
            }
        }


        form {
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 1rem;
            column-gap: 10%;
            padding: 3%;
            justify-items: center;

            @include smallScreen {
                grid-template-columns: 1fr;
                grid-auto-flow: row;
                row-gap: 0.5rem;
                padding: 5% 2%;

            }

            input.form__contact__field {
                border: #55555536 solid 2px;
                background-color: $white_op;
                grid-column: 1;

                @include smallScreen {
                    grid-column: 1;
                }
            }

            textarea.form__contact__field {
                border: #55555536 solid 2px;
                background-color: $white_op;
                grid-column: 2;
                grid-row: 1/4;

                @include smallScreen {
                    grid-column: 1;
                    grid-row: inherit;
                }
            }

            button.send {
                grid-row: 4;
                grid-column: 1/3;
                background-color: $light_blue;
                color: white;
                margin: auto;
                border: none;
                margin-top: 3%;
                padding: 2%;
                font-size: 1.1rem;

                @include smallScreen {
                    grid-column: 1;
                    grid-row: inherit;

                }
            }

        }
    }
}